---
import { Carrousel } from '../components/Carrousel';
import Lore from '../components/Lore.astro';
import Profile from '../components/Profile.astro';
import Redes from '../components/Enlaces.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Akugaki Koa - Fan Page">
	<main>
		<div id="inicio" class="pt-[50px]">
			<Carrousel client:load />
		</div>

		<div id="perfil">
			<Profile />
		</div>

		<div id="lore">
			<Lore />
		</div>

		<div id="enlaces">
			<Redes />
		</div>

		<Footer />
	</main>
</Layout>

