---
import Fanarts from "./Fanarts.astro";
import Lore from "./Lore.astro";
---

<main style="background-image: url('assets/background_image.png');">
    <div id="lore">
        <Lore />
    </div>

    <div id="fanarts">
        <Fanarts />
    </div>
    </div>
</main>