---
import Fanarts from "./Fanarts.astro";
import Lore from "./Lore.astro";
---

<main style="background-image: url('assets/background.jpg'); background-size: cover;">
    <div id="lore">
        <Lore />
    </div>

    <div id="fanarts">
        <Fanarts />
    </div>
    </div>
</main>